<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 mb-5">
    <a class="navbar-brand" href="/">Pokemon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div *ngFor="let pokemon of pokemones" class="col-sm-12 col-md-3">
        <div class="card card border-dark  m-3">
                <img class="card-img-top" style="width: 40%;" [src]="pokemon.sprites.front_default" alt="Card image cap">
                <div class="card-body text-white bg-dark">
                        <h5 class="card-title"> {{ pokemon.name }} </h5>
                        <p>Height: {{pokemon.height}}</p>
                        <p>Height: {{pokemon.weight}}</p>
                </div>
        </div>
    </div>
</div>

<footer class="text-center text-lg-start bg-dark text-muted">
    <div class="text-center p-4">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="/">CSJ</a>
    </div>
  </footer>
